{$SITE_ADDRESS} {
	encode zstd gzip
	header {
		X-Content-Type-Options nosniff
		Referrer-Policy same-origin
		X-Frame-Options DENY
	}
	@api path /api /api/*
	handle @api {
		reverse_proxy api:8080 {
			flush_interval -1
		}
	}
	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
